In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import statistics as st

In [2]:
df = pd.read_csv('ToyotaCorolla.csv')

In [3]:
df.shape

(1436, 37)

In [4]:
df.head()

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,1,0,0,0,1,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,1,0,1,0,0,0,1,0,0,0
2,3,?TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,0,1,0,0,0,1,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,0,1,0,0,0,1,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,1,0,1,0,1,0,0,0

In [5]:
df.sample(10)

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
61,62,?TOYOTA Corolla 1.6 16V VVT I 5DR SOL 4/5-Doors,16500,27,6,2002,37177,Petrol,110,0,...,1,1,1,0,1,1,1,0,0,0
21,22,TOYOTA Corolla 1.6 16V VVT I 3DR SOL AUT4 2/3-...,16950,29,4,2002,43905,Petrol,110,0,...,1,1,1,0,1,1,1,0,0,0
865,869,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,9500,66,3,1999,63881,Petrol,86,0,...,0,0,1,0,0,1,1,0,0,0
363,366,TOYOTA Corolla 1.6 16V VVT I LIFTB LUNA 4/5-Doors,13450,40,5,2001,23616,Petrol,110,1,...,1,1,1,0,0,0,1,0,0,0
1378,1385,TOYOTA Corolla 1.3 16V Linea Terra Liftb 2/3-D...,9500,79,2,1998,56214,Petrol,86,0,...,1,1,1,0,0,0,0,0,0,0
34,35,?TOYOTA Corolla 1.4 16V VVT I 3DR TERRA COMFOR...,15500,22,11,2002,41000,Petrol,97,1,...,1,1,1,0,0,1,1,0,0,0
13,14,TOYOTA Corolla 1.8 16V VVTLI 3DR T SPORT 2/3-D...,21500,31,2,2002,23000,Petrol,192,1,...,1,1,1,0,1,1,1,1,0,0
1292,1299,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,7750,77,4,1998,71900,Petrol,86,1,...,0,0,1,0,0,0,1,0,0,0
746,750,TOYOTA Corolla 1.6 HB LINEA TERRA 2/3-Doors,8250,66,3,1999,81250,Petrol,110,0,...,1,1,1,0,0,0,0,0,0,1
953,957,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,9250,66,3,1999,52383,Petrol,86,0,...,0,0,1,0,0,1,1,0,0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 37 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                1436 non-null   int64
 1   Model             1436 non-null   object
 2   Price             1436 non-null   int64
 3   Age_08_04         1436 non-null   int64
 4   Mfg_Month         1436 non-null   int64
 5   Mfg_Year          1436 non-null   int64
 6   KM                1436 non-null   int64
 7   Fuel_Type         1436 non-null   object
 8   HP                1436 non-null   int64
 9   Met_Color         1436 non-null   int64
 10  Automatic         1436 non-null   int64
 11  cc                1436 non-null   int64
 12  Doors             1436 non-null   int64
 13  Cylinders         1436 non-null   int64
 14  Gears             1436 non-null   int64
 15  Quarterly_Tax     1436 non-null   int64
 16  Weight            1436 non-null   int64
 17  Mfr_Guarantee     1436 non-null   int64
 18  BOVAG_Guarantee   1436 non-null   int64
 19  Guarantee_Period  1436 non-null   int64
 20  ABS               1436 non-null   int64
 21  Airbag_1          1436 non-null   int64
 22  Airbag_2          1436 non-null   int64
 23  Airco             1436 non-null   int64
 24  Automatic_airco   1436 non-null   int64
 25  Boardcomputer     1436 non-null   int64
 26  CD_Player         1436 non-null   int64
 27  Central_Lock      1436 non-null   int64
 28  Powered_Windows   1436 non-null   int64
 29  Power_Steering    1436 non-null   int64
 30  Radio             1436 non-null   int64
 31  Mistlamps         1436 non-null   int64
 32  Sport_Model       1436 non-null   int64
 33  Backseat_Divider  1436 non-null   int64
 34  Metallic_Rim      1436 non-null   int64
 35  Radio_cassette    1436 non-null   int64
 36  Tow_Bar           1436 non-null   int64
dtypes: int64(35), object(2)
memory usage: 415.2+ KB

In [7]:
df.dtypes

Id                   int64
Model               object
Price                int64
Age_08_04            int64
Mfg_Month            int64
Mfg_Year             int64
KM                   int64
Fuel_Type           object
HP                   int64
Met_Color            int64
Automatic            int64
cc                   int64
Doors                int64
Cylinders            int64
Gears                int64
Quarterly_Tax        int64
Weight               int64
Mfr_Guarantee        int64
BOVAG_Guarantee      int64
Guarantee_Period     int64
ABS                  int64
Airbag_1             int64
Airbag_2             int64
Airco                int64
Automatic_airco      int64
Boardcomputer        int64
CD_Player            int64
Central_Lock         int64
Powered_Windows      int64
Power_Steering       int64
Radio                int64
Mistlamps            int64
Sport_Model          int64
Backseat_Divider     int64
Metallic_Rim         int64
Radio_cassette       int64
Tow_Bar              int64
dtype: object

In [8]:
df.describe()

,Id,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,cc,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
count,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.00000,...,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000
mean,721.555014,10730.824513,55.947075,5.548747,1999.625348,68533.259749,101.502089,0.674791,0.055710,1576.85585,...,0.580084,0.561978,0.977716,0.146240,0.256964,0.300139,0.770195,0.204735,0.145543,0.277855
std,416.476890,3626.964585,18.599988,3.354085,1.540722,37506.448872,14.981080,0.468616,0.229441,424.38677,...,0.493717,0.496317,0.147657,0.353469,0.437111,0.458478,0.420854,0.403649,0.352770,0.448098
min,1.000000,4350.000000,1.000000,1.000000,1998.000000,1.000000,69.000000,0.000000,0.000000,1300.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,361.750000,8450.000000,44.000000,3.000000,1998.000000,43000.000000,90.000000,0.000000,0.000000,1400.00000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,721.500000,9900.000000,61.000000,5.000000,1999.000000,63389.500000,110.000000,1.000000,0.000000,1600.00000,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,1081.250000,11950.000000,70.000000,8.000000,2001.000000,87020.750000,110.000000,1.000000,0.000000,1600.00000,...,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000
max,1442.000000,32500.000000,80.000000,12.000000,2004.000000,243000.000000,192.000000,1.000000,1.000000,16000.00000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
df.describe(include='all')

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
count,1436.000000,1436,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436,1436.000000,1436.000000,...,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000
unique,NaN,372,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-...,NaN,NaN,NaN,NaN,NaN,Petrol,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,107,NaN,NaN,NaN,NaN,NaN,1264,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,721.555014,NaN,10730.824513,55.947075,5.548747,1999.625348,68533.259749,NaN,101.502089,0.674791,...,0.580084,0.561978,0.977716,0.146240,0.256964,0.300139,0.770195,0.204735,0.145543,0.277855
std,416.476890,NaN,3626.964585,18.599988,3.354085,1.540722,37506.448872,NaN,14.981080,0.468616,...,0.493717,0.496317,0.147657,0.353469,0.437111,0.458478,0.420854,0.403649,0.352770,0.448098
min,1.000000,NaN,4350.000000,1.000000,1.000000,1998.000000,1.000000,NaN,69.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,361.750000,NaN,8450.000000,44.000000,3.000000,1998.000000,43000.000000,NaN,90.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,721.500000,NaN,9900.000000,61.000000,5.000000,1999.000000,63389.500000,NaN,110.000000,1.000000,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,1081.250000,NaN,11950.000000,70.000000,8.000000,2001.000000,87020.750000,NaN,110.000000,1.000000,...,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000
max,1442.000000,NaN,32500.000000,80.000000,12.000000,2004.000000,243000.000000,NaN,192.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
df.isnull().sum()

Id                  0
Model               0
Price               0
Age_08_04           0
Mfg_Month           0
Mfg_Year            0
KM                  0
Fuel_Type           0
HP                  0
Met_Color           0
Automatic           0
cc                  0
Doors               0
Cylinders           0
Gears               0
Quarterly_Tax       0
Weight              0
Mfr_Guarantee       0
BOVAG_Guarantee     0
Guarantee_Period    0
ABS                 0
Airbag_1            0
Airbag_2            0
Airco               0
Automatic_airco     0
Boardcomputer       0
CD_Player           0
Central_Lock        0
Powered_Windows     0
Power_Steering      0
Radio               0
Mistlamps           0
Sport_Model         0
Backseat_Divider    0
Metallic_Rim        0
Radio_cassette      0
Tow_Bar             0
dtype: int64

In [11]:
df.duplicated().sum()

0

In [12]:
df = df.select_dtypes(exclude=['object'])

### MIN-MAX NORMALIZATION

In [13]:
df_min_max = df.copy()

# max-min normalization techniques
for column in df_min_max.columns:
	df_min_max[column] = (df_min_max[column] - df_min_max[column].min()) / (df_min_max[column].max() - df_min_max[column].min())

print(df_min_max)

            Id     Price  Age_08_04  Mfg_Month  Mfg_Year        KM        HP  \
0     0.000000  0.325044   0.278481   0.818182  0.666667  0.193355  0.170732
1     0.000694  0.333925   0.278481   0.818182  0.666667  0.300149  0.170732
2     0.001388  0.341030   0.291139   0.727273  0.666667  0.171647  0.170732
3     0.002082  0.376554   0.316456   0.545455  0.666667  0.197528  0.170732
4     0.002776  0.333925   0.367089   0.181818  0.666667  0.158433  0.170732
...        ...       ...        ...        ...       ...       ...       ...
1431  0.997224  0.111901   0.860759   1.000000  0.000000  0.084539  0.138211
1432  0.997918  0.230728   0.898734   0.727273  0.000000  0.078186  0.138211
1433  0.998612  0.147425   0.886076   0.818182  0.000000  0.070021  0.138211
1434  0.999306  0.103020   0.873418   0.909091  0.000000  0.069609  0.138211
1435  1.000000  0.092362   0.949367   0.363636  0.000000  0.000000  0.333333

      Met_Color  Automatic        cc  ...  Central_Lock  Powered_Windows  \
0           1.0        0.0  0.047619  ...           1.0              1.0
1           1.0        0.0  0.047619  ...           1.0              0.0
2           1.0        0.0  0.047619  ...           0.0              0.0
3           0.0        0.0  0.047619  ...           0.0              0.0
4           0.0        0.0  0.047619  ...           1.0              1.0
...         ...        ...       ...  ...           ...              ...
1431        1.0        0.0  0.000000  ...           1.0              1.0
1432        0.0        0.0  0.000000  ...           0.0              0.0
1433        0.0        0.0  0.000000  ...           0.0              0.0
1434        1.0        0.0  0.000000  ...           0.0              0.0
1435        0.0        0.0  0.020408  ...           0.0              0.0

      Power_Steering  Radio  Mistlamps  Sport_Model  Backseat_Divider  \
0                1.0    0.0        0.0          0.0               1.0
1                1.0    0.0        0.0          0.0               1.0
2                1.0    0.0        0.0          0.0               1.0
3                1.0    0.0        0.0          0.0               1.0
4                1.0    0.0        1.0          0.0               1.0
...              ...    ...        ...          ...               ...
1431             1.0    0.0        1.0          1.0               1.0
1432             1.0    0.0        0.0          1.0               1.0
1433             1.0    0.0        0.0          0.0               1.0
1434             0.0    0.0        0.0          0.0               1.0
1435             1.0    0.0        0.0          0.0               0.0

      Metallic_Rim  Radio_cassette  Tow_Bar
0              0.0             0.0      0.0
1              0.0             0.0      0.0
2              0.0             0.0      0.0
3              0.0             0.0      0.0
4              0.0             0.0      0.0
...            ...             ...      ...
1431           0.0             0.0      0.0
1432           0.0             0.0      0.0
1433           0.0             0.0      0.0
1434           0.0             0.0      0.0
1435           0.0             0.0      0.0

[1436 rows x 35 columns]

### Z-SCORE TECHNIQUES

In [14]:
df_z_score = df.copy()

# z-score normalization techniques
for column in df_z_score.columns:
	df_z_score[column] = (df_z_score[column] - df_z_score[column].mean()) / df_z_score[column].std()

display(df_z_score)

,Id,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,cc,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
0,-1.730120,0.763497,-1.771349,1.327114,1.541259,-0.574495,-0.767774,0.693977,-0.242808,0.997072,...,0.850521,0.882546,0.150918,-0.413726,-0.587868,-0.654643,0.546045,-0.507212,-0.412572,-0.620077
1,-1.727719,0.832425,-1.771349,1.327114,1.541259,0.117413,-0.767774,0.693977,-0.242808,0.997072,...,0.850521,-1.132297,0.150918,-0.413726,-0.587868,-0.654643,0.546045,-0.507212,-0.412572,-0.620077
2,-1.725318,0.887567,-1.717586,1.028970,1.541259,-0.715137,-0.767774,0.693977,-0.242808,0.997072,...,-1.174932,-1.132297,0.150918,-0.413726,-0.587868,-0.654643,0.546045,-0.507212,-0.412572,-0.620077
3,-1.722917,1.163280,-1.610059,0.432682,1.541259,-0.547459,-0.767774,-1.439966,-0.242808,0.997072,...,-1.174932,-1.132297,0.150918,-0.413726,-0.587868,-0.654643,0.546045,-0.507212,-0.412572,-0.620077
4,-1.720516,0.832425,-1.395005,-0.759893,1.541259,-0.800749,-0.767774,-1.439966,-0.242808,0.997072,...,0.850521,0.882546,0.150918,-0.413726,1.699878,-0.654643,0.546045,-0.507212,-0.412572,-0.620077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,1.720251,-0.890779,0.701771,1.923402,-1.054926,-1.279494,-1.034778,0.693977,-0.242808,-0.652367,...,0.850521,0.882546,0.150918,-0.413726,1.699878,1.526487,0.546045,-0.507212,-0.412572,-0.620077
1432,1.722653,0.031480,0.863061,1.028970,-1.054926,-1.320660,-1.034778,-1.439966,-0.242808,-0.652367,...,-1.174932,-1.132297,0.150918,-0.413726,-0.587868,1.526487,0.546045,-0.507212,-0.412572,-0.620077
1433,1.725054,-0.615067,0.809298,1.327114,-1.054926,-1.373557,-1.034778,-1.439966,-0.242808,-0.652367,...,-1.174932,-1.132297,0.150918,-0.413726,-0.587868,-0.654643,0.546045,-0.507212,-0.412572,-0.620077
1434,1.727455,-0.959707,0.755534,1.625258,-1.054926,-1.376224,-1.034778,0.693977,-0.242808,-0.652367,...,-1.174932,-1.132297,-6.621514,-0.413726,-0.587868,-0.654643,0.546045,-0.507212,-0.412572,-0.620077
1435,1.729856,-1.042421,1.078115,-0.163605,-1.054926,-1.827213,0.567243,-1.439966,-0.242808,0.054536,...,-1.174932,-1.132297,0.150918,-0.413726,-0.587868,-0.654643,-1.830077,-0.507212,-0.412572,-0.620077

### Decimal Scaling

In [16]:
df['Age_Decimal'] = df['Age_08_04']/100
df['price_decimal'] = df['Price']/100

In [17]:
df.head()

,Id,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,cc,...,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar,Age_Decimal,price_decimal
0,1,13500,23,10,2002,46986,90,1,0,2000,...,1,0,0,0,1,0,0,0,0.23,135.0
1,2,13750,23,10,2002,72937,90,1,0,2000,...,1,0,0,0,1,0,0,0,0.23,137.5
2,3,13950,24,9,2002,41711,90,1,0,2000,...,1,0,0,0,1,0,0,0,0.24,139.5
3,4,14950,26,7,2002,48000,90,0,0,2000,...,1,0,0,0,1,0,0,0,0.26,149.5
4,5,13750,30,3,2002,38500,90,0,0,2000,...,1,0,1,0,1,0,0,0,0.30,137.5